html {
    -webkit-text-size-adjust: none;
}
body {
    background: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.55em;
}

.standard-page { background: #f9f9f9; }
.standard-page > div { background: #fff; }

* { font-family: "Open Sans", Helvetica, Arial, sans-serif; }
.ui-input-text { font-family: "Open Sans", Helvetica, Arial, sans-serif !important; }

/*----------------- GLOBAL ELEMENT STYLES ----------------*/

a {
    color: #9ebd48;
    text-decoration: none;
}
[data-role="content"] .ui-link { font-weight: 600; }
.ui-btn {
    margin-left: 0;
    margin-right: 0;
  font-weight: 700;
  background-image: none;
  text-shadow: none !important;
}
.hidden { display: none; }
h1, h2, h3, h4, h5, h6  { font-weight: normal;  }

h1 {
    font-size: 1.6em;
    color: #777;
  font-weight: 300;
    margin: 0.575em 0 0.5em;
    line-height: 1.3em;
}
h1:empty { display: none; }
h2 {
    font-size: 1.4em;
    color: #777;
    line-height: 1.4em;
  font-weight: 300;
}
h3 {
    font-size: 1.3em;
    color: #777;
    line-height: 1.4em;
  font-weight: 300;
}
h4 {
    font-size: 1.2em;
    color: #777;
    line-height: 1.4em;
  font-weight: 300;
}
h5 {
    font-size: 1.1em;
    color: #777;
    line-height: 1.5em;
  font-weight: 300;
}
h6 {
    font-size: 1em;
    color: #777;
    line-height: 1.5em;
  font-weight: 300;
}
u {
    text-decoration: underline;
}
sup, sub {
    color: #999;
}
blockquote {
    margin: 1.5em;
    color: #999;
}
ul, ol {
    padding: 0;
    margin-left: 1.5em;
}
ol { margin-left: 2em; }
ul ul {
    margin-top: 0.5em;
    margin-bottom: 1em;
}
ul li {
list-style: none;
    margin-bottom: 0.5em;
}
article ul li {
    list-style: none;
    overflow: hidden;
    padding-left: 1.2em;
    margin-left: -1.2em;
}
/* Content list bullets (green square) */
article ul li:before {
    background: #bdd74e;
    display: block;
    float: left;
    margin-left: -1.2em;
    margin-top: 0.5em;
    content: "";
    width: 0.5em;
    height: 0.5em;
}
article ul li ul li:before, article ul li ul li ul li ul li:before {
    background: #8fc73e;
}
article ul li ul li ul li:before {
    background: #d7e481;
}
dt {
    font-weight: bold;
  color: #999;
  text-transform: uppercase;
  font-size: 0.8em;
  border-top: 1px solid #eee;
}
dd { margin: 0 0 0.5em; padding-bottom: 0.5em;  }
figure, figcaption {
    padding: 0;
    margin: 0;
}
table {
    margin: 1.5em 0;
    width: 100% !important;
    height: auto !important;
    max-width 100% !important;
    border: none;
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    font-size: 0.85em;
    line-height: 1.3em;
}
tr {
    border: none;
    border-top: 1px solid #eee;
}
td, th {
    padding: 0.3em;
    border: none;
    text-align: left;
    vertical-align: top;
    text-shadow: #fff 1px 1px 0;
}
th {
    background: #f5f5f5;
    color: #555;
}
hr {
    border: none;
    border-top: 1px solid #eee;
}
iframe, object, embed {
    max-width: 100%;
    max-height: 20em;
}
pre {
    font-size: 0.9em;
    white-space: normal;
    padding: 1em;
    background: #f3f3f3;
    color: #555;
    margin-bottom: 2.5em;
}
/*----------------- ICONS ----------------*/


/* Branding glyph (3-squares) */

.icon.glyph {
    font-size: 0.935em;
    margin-right: 0.3em;
    margin-top: -0.2625em;
    overflow: visible;
    position: relative;
    background: #d7e481;
}
.icon.glyph:before, .icon.glyph:after {
    position: absolute;
    content:"";
    display: block;
    left: -.3em;
}
.icon.glyph, .icon.glyph:before, .icon.glyph:after {
    width: .3em;
    height: .3em;
}
.icon.glyph:before {
    background: #77bf43;
    top: -.3em;
}
.icon.glyph:after {
    background: #bdd74e;
    bottom: -.3em;
}

/* Font icons */

@font-face {
    font-family: "IcoMoon";
    src:    url("//www.usask.ca/_usask/includes/mobile/css/fonts/IcoMoon.eot");
    src:    url("//www.usask.ca/_usask/includes/mobile/css/fonts/IcoMoon.eot?#iefix") format("embedded-opentype"), 
            url("//www.usask.ca/_usask/includes/mobile/css/fonts/IcoMoon.woff") format("woff"), 
            url("//www.usask.ca/_usask/includes/mobile/css/fonts/IcoMoon.ttf") format("truetype"),
            url("//www.usask.ca/_usask/includes/mobile/css/fonts/IcoMoon.svg#icomoon") format("svg");
}

.uofs, .icon, .icon-w, .search-global div.ui-btn .ui-btn-inner {
    font-family: "IcoMoon";
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 1em;
    width: 1em;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    margin: -0.15em 0.325em 0 0;
    letter-spacing: 2em;
    overflow: hidden;
  text-transform: none !important;
}
.uofs {
    line-height: 0.28em;
    height: 0.28em;
    margin: 0;
    font-size: 6.0em;
    color: #444 !important;
}
.uofs:active {
    color: #333 !important;
}
.uofs:before {
    content: "\0075";
}
.icon.search:before, .search-global div.ui-btn .ui-btn-inner:before {
    content: "\0073";
}
.icon.email:before, .icon-w.email:before {
    content: "\0033";
}
.icon.map:before, .icon.location:before {
    content: "\0035";
}
.icon.phone:before {
    content: "\0070";
}
.icon.events:before {
    content: "\0044";
}
.icon.feed:before {
    content: "\007d";
}
.icon.time:before {
    content: "\0074";
}
.icon.add:before {
    content: "\002b";
}
.icon.news:before, .icon.archive:before {
    content: "\006e";
}
.icon.grid:before {
    content: "\0023";
}
.icon.list:before, .icon.places:before {
    content: "\003d";
}
.icon.warning:before {
    content: "\0021";
}
.icon.info:before {
    content: "\0068";
}
.icon.help:before {
    content: "\003f";
}
.icon.cancel:before {
    content: "\0078";
}
.icon.mylocation:before, .icon.target:before {
    content: "\0030";
}
.icon.building:before {
    content: "\0042";
}
.icon.food:before {
    content: "\0066";
}
.icon.library:before {
    content: "\0062";
}
.icon.picture:before {
    content: "\0069";
}
.icon.gallery:before {
    content: "\0026";
}
.icon.parking:before, .icon.cars:before {
    content: "\0064";
}
.icon.popular:before, .icon.star:before {
    content: "\002a";
}
.icon.recreation:before, .icon.smiley:before {
    content: "\0029";
}
.icon.retail:before, .icon.cart:before {
    content: "\0025";
}
.icon.link:before {
    content: "\007b";
}
.icon.author:before {
    content: "w";
}
.icon.facebook:before {
    content: "\0046";
}
.icon.twitter:before {
    content: "\0054";
}
.icon.linkedin:before {
    content: "\004c";
}
.icon.google:before {
    content: "\0047";
}
.icon.wikipedia:before {
    content: "\0057";
}
.icon.youtube:before {
    content: "\0059";
}
.icon.flickr:before {
    content: "\0052";
}
.icon.instagram:before {
    content: "\0027";
}
/* JQM black icons */
.ui-icon, .flex-direction-nav a, .context-nav .ui-btn-active .ui-icon, .site-map .ui-btn-active .ui-icon, .ui-listview-filter .ui-icon-searchfield:after {
    background-image: url('//www.usask.ca/_usask/includes/mobile/css/themes/images/icons-36-black.png');
    -moz-background-size: 776px 18px;
    -o-background-size: 776px 18px;
    -webkit-background-size: 776px 18px;
    background-size: 776px 18px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    background-repeat: no-repeat;
}
/* JQM white icons */
.handle .icon, .ui-btn-active .ui-icon, .ui-btn-up-b .ui-icon, .ui-btn-hover-b .ui-icon, .ui-btn-down-b .ui-icon, .ui-btn-up-c .ui-icon, .ui-btn-hover-c .ui-icon, .ui-btn-down-c .ui-icon, .search-global .ui-icon-delete {
    background-image: url('//www.usask.ca/_usask/includes/mobile/css/themes/images/icons-36-white.png');
    -moz-background-size: 776px 18px;
    -o-background-size: 776px 18px;
    -webkit-background-size: 776px 18px;
    background-size: 776px 18px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow:none;
    opacity: 1;
    background-repeat: no-repeat;
}
.ui-icon {
    opacity: .25;
}
.ui-checkbox .ui-icon, .ui-radio .ui-icon { opacity: 1; margin-top: -0.275em;}
/* Loading message */

.ui-icon-loading, .icon.loading {
    opacity: 1;
    background-image: url('//www.usask.ca/_usask/includes/mobile/css/themes/images/ajax-loader.png');
    background-size: 35px 35px;
}
/* Theme "B" icons */
.ui-btn-up-b .ui-icon, .ui-btn-hover-b .ui-icon {
    opacity: .3;
}

/*----------------- HEADER / SITE NAME ----------------*/

header {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
    padding: 12px 0 0;
    text-shadow: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: rgba(0,0,0,.12) 0 2px 2px -2px; -moz-box-shadow: rgba(0,0,0,.12) 0 2px 2px -2px; box-shadow: rgba(0,0,0,.12) 0 2px 2px -2px;
}
header h1 {
font-weight: 400;
    font-size: 1.05em;
    line-height: 1.3em;
    margin: -6px 50px 0;


  padding: 0 0 12px;
 
}
header .uofs {
    margin: 0 auto 10px;
}
header .site-name { }
header .site-name:active {
    color: #555;
}
/*----------- FOOTER -------------*/

.ui-body-a footer {
    position: relative;
    z-index: 1;
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    padding: 1.2em 0 0;
    margin: 0;
    background: none;
    text-shadow: none;
}
.footer-global .uofs {
    font-size: 5.5em;
}


.footer-custom .site-name {
    font-size: 0.85em;
    line-height: 1.3em;
    display: inline-block;
  margin-top: 1em;
  font-weight: normal;
}
.footer-custom .site-name img { padding: 3px; background: #fff; border: 1px solid #eee; }
.footer-custom {
    padding: 0 1em 1.5em; 
    border-bottom: 1px solid #e5e5e5;
}
.footer-custom .custom-links {
    margin: 1em 0 0;
}
.footer-custom .custom-links .ui-btn {
    margin: 0 0 0.6em;
    border: none;
    background: none;
    color: #555;
  text-shadow: none;
}
.footer-custom .custom-links .ui-btn-inner {
    padding: 0 0.5em;
}
.footer-custom .custom-links .ui-btn-active {
    color: #bbd64a;
    text-shadow: none;
}
footer .platform-chooser .ui-btn-inner {
    font-size: 0.7em;
    padding: 0em 1.2em;
    border: none;
}
footer .platform-chooser {
    margin: 1.5em auto 0.7em;
}

.social {
    margin: 1em 0 0;
    padding: 0;
}
.social li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.social li a {
    font-size: 1.5em;
    margin: 0 0.3em 0.3em;
    color: #555 !important;
}
.social li a:active {
    color: #bbd64a !important;
}
.legal {
    clear: both;
    margin: 0 auto 1em;
    padding: 0;
    color: #bbb;
}
.legal li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5em;
    font-size: 0.7em;
    font-weight: normal;
}
.legal a.ui-link, .legal a.ui-link:visited {
    color: #999;
    font-weight: normal;
}
/*----------------- GLOBAL NAV / PULL-DOWN MENU ----------------*/

.global-nav, .standard-page, header, .global-nav .handle {
    /*-webkit-transition:.1s margin;-moz-transition:.1s margin ease;-o-transition: .1s margin; transition: .1s margin; */
}

.global-nav {
    text-align: center;
    float: left;
  overflow: visible;
    width: 260px;
    background: none;
    margin-left: -260px;  
  height: 100%;
}
.active-menu .global-nav { margin-left: 0; }
.active-menu .standard-page, .active-menu header, .active-menu .global-nav .handle { margin-left: 260px; }
.active-menu .standard-page, .active-menu header { border-left: 1px solid #ddd; }
.nav-wrapper {
    padding: 12px 0 0;
}
.global-nav .handle {
    position: absolute;
  z-index: 2;
   cursor: pointer;
  top: 0;
  left: 0;
  color: #555;
  padding: 12px 1em 4px;
}
.global-nav .handle:hover { color: #333; }
.global-nav .handle:active { color: #666; }
.handle:after {
    display: inline-block;
  font-family: "IcoMoon";
  content: "\003d";
  font-size: 18px;  
}

/* Search box and filter boxes */
.ui-input-search {
    height: 2.25em;
    background: #fff;
  
}
.search-global {
    position: relative;    
}
.search-global .ui-icon-searchfield:after, .search-global label, .search-global .ui-btn-text {
    display: none;
}
.search-global .ui-input-search {
    padding: 0 2.25em 0 1.85em;
}
.global-nav .search-global .ui-input-search {
    margin: 0 1em;
}
.ui-input-clear {
    border-color: #ddd;
    background: #ddd;
    right: 1em !important;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.search-global .ui-input-clear {
    right: 0.5em !important;
}

.search-global .ui-icon {
    opacity: 1;
}
.search-global .ui-input-search .ui-input-text, .ui-listview-filter .ui-input-text {
    margin: 0;
    padding: 0;
    text-shadow: none;
    color: #000;
    -webkit-appearance: none;
}
.search-global:before {
   display: block;
  position: absolute;
  top: 0.575em; left: 1.9em;
  z-index: 100;
  font-family: "IcoMoon";
  content: "\0073";
  color: #bbb;
  font-size: 14px;
}
.search-global .ui-input-search .ui-input-text {
    height: 100% !important;
  
}
.ui-listview-filter .ui-input-text {
    height: 1.6em;
}
.search-global div.ui-btn {
    display: none;
}

.content-primary .search-global {
    background: #fafafa;
    margin: 0 -1.5em !important;
    padding: 1.2em 1.5em 1em !important;
}

.content-primary .search-global:before { top: 1.95em; left: 2.45em; }

.content-primary .search-global + p {
    background: #fafafa;
    margin: -0.3em -1.5em 0 !important;
    padding: 0 1em 1em;
    text-align: center;
}
.global-nav .contact {
font-size: 0.85em;
    text-align: center;
    display: inline-block;
    margin: 0.5em auto;
    border-color: #ddd;
}
.global-nav .contact .email {
    font-size: 1.5em;
}
.global-nav .contact .ui-btn-inner {
    font-size: 0.85em;
    padding: 0.2em 0.7em;
}
/*----------------- NAV LISTS ----------------*/
[data-role="listview"] .ui-btn-inner { font-weight: 400; }
.ui-controlgroup {
    text-align: center;
}
/* Global nav */
.global-nav .site-map {
    margin: 0.5em 0 0.5em 0;
}
.global-nav .site-map li {
    margin: 0;
}
.site-map .ui-btn {
    border: none;
    border-right: none;
    border-color: rgba(0,0,0,.05);
    
}

.site-map .ui-btn-inner {
    font-size: 1.0em;
  font-weight: 400;
    border: none;
    text-align: left;
    padding: 0.5em 1.8em 0.5em 1em;
    text-shadow: none;
}
.site-map .ui-btn-up-e, .site-map .ui-btn-hover-e {
    background: none;
}
.site-map .ui-btn-down-e, .site-map .ui-btn-active {
    background: rgba(0,0,0,.03);
    color: #555;
}
.site-map .ui-btn-active {
    background: none;
}
.site-map .ui-btn-active .ui-icon {
    opacity: 1;
}
/* Homepage buttons */
.homepage-buttons .ui-btn-inner {
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.15em;
}
.homepage-buttons .fine-print {
    display: none; /* small-screen */
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1em;
}
@media screen and (min-width: 480px) {
.homepage-buttons .fine-print {
    display: block;
}
}
/* Related links */
.related-links li:before {
    display: none;
}
.related-links .ui-li-icon {
    margin-left: 0.5em;
}
/* Context nav */
.context-nav {
    padding: 0;
    margin: -1px 0;
}
.content-primary .context-nav {
    margin: -1.05em -1em;
}
.context-nav .ui-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.context-nav .ui-btn {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-color: #eee;
}
.context-nav .ui-btn-inner {
    font-size: 1.2em;
    padding: 0.05em 0;
    border: none;
 
}
.context-nav .ui-btn-up-a, .context-nav .ui-btn-hover-a {
    background: #fff;
}
.context-nav .active {
    background: #f9f9f9;
}
.context-nav .active a {
    color: #333;
    text-shadow: #fff 1px 1px 0;
}
.context-nav .ui-btn-down-a, .context-nav .ui-btn-active {
    color: #222;
    background: #f1f1f1;
    text-shadow: #fff 1px 1px 0;
}
.context-nav .ui-btn-active a.ui-link-inherit {
    color: #222;
    text-shadow: #fff 1px 1px 0;
}
.context-nav .ui-btn-active {
    background: #f7f7f7;
}
/*----------------- CONTENT BLOCKS ----------------*/

.content-above, .content-below {
    margin: 0;
    padding: 0;
    text-shadow: none;
}
.content-primary {
    text-shadow: none;
    padding: 0 1em;
}
.content-primary:empty {
    padding: 0;
}

[data-role="dialog"] { z-index: 15; padding-top: 35px !important; }
[data-role="dialog"] h1 { margin-top: 0; font-size: 1.3em; line-height: 1.3; }
[data-role="dialog"] .ui-btn[data-rel="back"] { float: right; margin: 0 0 1em 1em; }
[data-role="dialog"] .ui-btn[data-rel="back"] .ui-icon { opacity: 0.7; }
.homepage-extra { padding: 1em; text-align: center; border-top: 1px solid #eee; }
.homepage-extra h2 { font-size: 1.1em; }
/*----------------- CONTENT IMAGES ----------------*/

.content-primary img {
    width: auto;
    max-width: 100%;
    height: auto;
}
.content-primary .feature-image {
    margin: 0 -1em;
    line-height: 0;
    text-align: center;
}
article .feature-image img {
    padding-bottom: 6px;
    background: transparent url('//www.usask.ca/_usask/img/mobile/branding.png') no-repeat 0 bottom;
    -moz-background-size: 1024px auto;
    -o-background-size: 1024px auto;
    -webkit-background-size: 1024px auto;
    background-size: 1024px auto;
}
/*----------------- CONTENT FORMS ----------------*/

.ui-content form {
    margin-bottom: 3em;
}
.ui-content .ui-listview-filter { margin-bottom: 1em; }
.ui-content form legend {
    color: #999;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 1em;
}
.ui-content label.error {
    text-align: left;
    margin: 0;
    clear: both;
}
.ui-content form .error, .ui-content form .alert, .ui-content form .success {
    display: block;
}
/*----------- CONTACT PAGE -------------*/

.contact-details ul {
    margin: 1em 0 2em;
    padding: 0;
    list-style: none;
}
.contact-details ul li:before {
    display: none;
}
.contact-details .ui-btn {
    margin: 0 0 0.2em;
    text-align: left;
}
.contact-details .icon {
    font-size: 1.25em;
    margin-left: -0.5em;
    margin-right: 0.5em;
}
.address {
    font-weight: bold;
}
.address .ui-btn-inner {
    white-space: normal;
    padding-left: 2.75em;
}
.address .icon {
    margin-left: -1.5em;
    margin-top: 0.2em;
    float: left;
}
.address > .postal {
    font-weight: normal;
}
.address .ui-btn .postal {
    display: block;
    font-weight: normal;
    font-size: 0.85em;
    line-height: 1.5em;
    margin-top: 0.2em;
    white-space: normal;
}
/*----------- EVENTS -------------*/

.events-index h1 {
    float: left;
}
.events-index h1 .icon {
    display: none;
}
.event-items {
    margin: 0;
    border-top: 1px solid #eee;
    clear: both;
    padding: 0;
}
.content-primary .events-index .event-items {
    margin: 0 -1em;
}
.event-item {
    text-shadow: #fff 1px 1px 0;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
}
.event-item a {
    display: block;
    overflow: hidden;
    padding: 1em;
}
.event-item a:active {
    background: #f9f9f9;
}
.event-date {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    float:left;
    width:3.6em;
    margin:0 0 0.1em;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.event-tomorrow, .event-today {
    font-size: 0.5em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0 0 0.2em;
    margin-bottom: -0.3em;
    background: #76c043;
    text-shadow: rgba(0,0,0,.2) 0 1px 0;
    display: block;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.event-today {
    font-size: 0.65em;
    background: #a8cf42;
}
.event-month {
    display:block;
    font-size: 0.9em;
    line-height: 1.5em;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    background-color: #b40000;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.event-day {
    display:block;
    color: #000;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: -0.025em;
    line-height: 1.1em;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.event-weekday {
    display:block;
    color: #000;
    font-size: 0.6em;
    font-weight: normal;
    line-height: 1em;
    padding: 0.3em 0 0;
    margin-bottom: -0.3em;
}
.event-title {
    display: block;
    margin:-0.1em 0 0 4.5em;
  font-weight: 600;
}
.event-time {
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    color: #999;
    margin:0 0 0 5.65em;
}
.event-description {
    margin:0 0 0 4.5em;
}
.event-page { margin: 0 -15px; }
.event-page iframe { width: 100%; height: 600px; max-height: none; }
/*------------- NEWS ---------------*/

.news-index {
    margin: 0;
    padding: 0;
}
.news-index h1 {
    float: left;

}
.news-index h1 .icon, .news-context h2 .icon {
    display: none;
}
.news-context { margin-bottom: -0.5em; }
.news-context h2 {
    border: none;
    float: left;
    margin: 0.7em 0 0.5em 0.7em;
}
.news-items {
    clear: both;
    margin: 0;
    padding: 0;
    text-shadow: #fff 1px 1px 0;
    font-size: 1em;
    margin-top: 0;
    border-top: 1px solid #eee;
}
.content-primary .news-index .news-items {
    margin: 0 -1em;
}
.news-item {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eee;
}
.news-item a {
    display: block;
    padding: 1em;
    overflow: hidden;

}
.news-item a:active {
    background: #f9f9f9;
}
.news-image {
    float: right;
    margin: 0 0 0 1em;
    width: 40%;
    overflow: hidden;
}
.news-image img {
    float: right;
    max-width: 100%;
}
.news-item .byline {
    color: #aaa;
    display: block;
    font-weight: normal;
    font-size: 0.75em;
    margin: 0;
}
.news-story .byline {
    color: #aaa;
    margin-top: -0.5em;
    font-size: 0.85em;
}
.news-title {
    margin: 0;
    float: none;
    font-weight: 600;
}
.news-description {
    display: none;
}
.news-prev-next {
    clear: both;
    overflow: hidden;
}
.news-prev-next a {
    font-weight: normal !important;
    line-height: 1.4em;
    padding: 1em 0;
    float: left;
    width: 50%;
    display: block;
}
.news-prev-next .next-story {
    float: right;
    text-align: right;
}
.news-prev-next .heading {
    font-weight: normal;
    display: block;
    font-size: 0.75em;
    color: #aaa;
}
.news-prev-next .ui-icon {
    float: left;
    display: block;
    margin: 0 0 0.5em 1em;
    width: 20px;
}
.next-story .ui-icon {
    float: right;
    margin: 0 1em 0.5em 0;
}
.news-prev-next .story-title {
    display: block;
    margin: 0 1em;
    clear: both;
}

.news-story-meta { font-size: 0.85em; color: #aaa; padding: 0 15px; }
.news-story-meta p {  }
.news-story-meta .time { margin-right: 0.1em; margin-left: 1em; }
.news-story-meta .ui-btn { font-size: 0.9em; margin-right: 0.5em; margin-top: 0; }
.news-story-meta .ui-btn-inner { padding: 0.3em 1.2em; }
/*------------- NEWS GRID ---------------*/

.grid .news-items {
    border: none;
    padding: 0 0.25em 0.25em;
    overflow: hidden;
}
.grid .news-item {
    float: left;
    width: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    border: none;
}
.grid .news-item a {
    margin: 3%;
    height: 8em;
    position: relative;
    padding: 0;
    background: #fafafa;
    -moz-box-shadow: inset rgba(0, 0, 0, 0.07) 0 0 15px;
    -webkit-box-shadow: inset rgba(0, 0, 0, 0.07) 0 0 15px;
    box-shadow: inset rgba(0, 0, 0, 0.07) 0 0 15px;
}
.grid .news-item a:after {
    display: block;
    content:"\0069";
    opacity: .05;
    width: 1em;
    font-size: 3em;
    font-family: "IcoMoon";
    color: #000;
    font-weight: normal;
    margin: 23% auto;
}
.grid .news-image {
    float: none;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}
.grid .news-image img {
    float: none;
    width: auto;
    margin: 0 -50%;
    height: 100%;
    min-width: 100%;
    max-width: none;
}
.grid .news-title {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    padding: 0.1em 4%;
    width: 94%;
    overflow: hidden;
    font-size: 0.75em;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    max-height: 2.5em;
    background: rgba(135,196,64,.85);
    text-shadow: rgba(0,0,0,.1) 1px 1px 0;
}
.grid .news-description { display: none !important; }

.grid .news-item a:active .news-title {
    background: #a9d14c;
    opacity: .95;
}
.grid .byline {
    display: none;
}
.grid .show-more {
    clear: both;
}
 @media screen and (min-width: 480px) {
.grid .news-item {
    width: 33.33333%;
}
}
@media screen and (min-width: 750px) {
.grid .news-item {
    width: 25%;
}
.grid .news-item a {
    height: 10em;
    font-size: 1.2em;
}
.grid .news-title { padding: 0.5em 5%; }
}
/*------------- NEWS + EVENTS TOGETHER ---------------*/

.context-nav + .news-events {
    padding-top: 1em;
}
.news-events-toggler {
    margin: 1em auto;
}
.news-events-toggler .ui-btn-inner {
    padding: 0.5em 0;
    width: 7.5em;
}
.news-events-toggler .icon {
    font-size: 1.25em;
}
.news-events h1, .news-events .subscribe {
    display: none;
}
.news-events .news-display-toggler {
  display: none;  
}
/*------------- SHOW MORE + SUBSCRIBE BUTTONS ---------------*/

.show-more {
    padding: 1em;
}
.subscribe {
    float: left;
    margin: 1em 0 0 0.7em;
}
.events-index .subscribe {
    float: right;
    width: auto;
    margin-left: 5px;
}
.subscribe .ui-btn-inner, .news-display-toggler .ui-btn-inner {
    font-size: 0.8em;
    padding: 0.3em 0.8em;
}
.news-context .subscribe {
    display: none;
}
.news-display-toggler {
    text-align: center;
    margin: 1em 0 0;
    float: right;
}
.news-context .news-display-toggler {
    margin-right: 1em;
}
.news-display-toggler .icon.grid {
    margin-right: 0;
}

.news-index[data-category] h1 { float: none; }
.news-index[data-category] .news-display-toggler { margin-top: 0; }

/*------------- TWITTER FEEDS ---------------*/

.twitter-feed { border-top: 1px solid #eee; }
.twitter-feed h2 { margin: 1em 0 0; text-shadow: #fff 0 1px 0; text-align: center; font-size: 1.1em; }
.twitter-feed h2 a.ui-link { color: #999; font-weight: normal; }
.tweets { margin: 0; padding: 0; }
.tweet { background: #fff; border-top: 1px solid #eee; margin: 0; font-size: 0.9em; line-height: 1.5em; padding: 1em; }
.tweet:nth-child(1) { border: none; }
.tweet .byline { color: #aaa; font-size: 0.85em; display: block; }


/*------------- PROFILES ---------------*/
.profiles-list { margin-bottom: 0 !important; }
.profiles-list h3 { color: inherit; }
.profiles-list img { margin: 3px; }

.profile-details .contact-details .ui-btn { margin-bottom: 0; }
.profile-details .contact-details { clear: both; }
.profile-details .pull-right { float: right; border: 1px solid #eee; margin-bottom: 1em; margin-left: 1em; }
.profile-details .job-title { color: #777; margin-top: -0.5em; }
/*------------- COLLAPSIBLES ---------------*/

.content-primary .ui-collapsible-set {
    margin: 1em 0.5em 1.5em;
}
.ui-collapsible-content {
    padding: 1em;
    font-size: 1em;
    font-weight: normal;
    text-shadow: none;
}
.ui-collapsible-set .ui-icon-minus {
    background-position:    -216px 50%;
}
.ui-collapsible-set .ui-icon-plus {
    background-position:    -108px 50%;
}
.ui-collapsible .ui-btn-text {
    white-space: normal;
}
/*----------- NOTICES, LOADING, ERRORS, ETC. -------------*/

.notice, .error, .alert, .success, .pull-right-notice, .pull-left-notice {
color: #000;
    margin:1.5em 0;
    padding:1em;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.9) 1px 1px 0;
    overflow:hidden;    
    border:1px solid;
}
.notice, .pull-right-notice, .pull-left-notice {
    background-color: #f1f1f1;
    border-color: #ddd;
color: #666;
} /* grey */
.error {
    background-color: #fae6e6;
    border-color: #f7b9b9;
color: #c20000;
} /* red */
.alert {
    background-color: #fefecc;
    border-color: #fae455;
color: #958100;
} /* yellow */
.success {
    background-color: #edfed5;
    border-color: #b7e872;
color: #469700;
} /* green */
.loading-msg {
    text-align: center;
    color: #999;
    font-size: 0.75em;
    padding: 1em 0;
}

.events-index .notice, .events-index .alert,
.news-index .notice, .news-index .alert {
margin: 1.5em 1em; 
}
.loading-msg .icon.loading {
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
}
.ui-loader {
    width: auto;
    padding: 12px;
    margin-left: -30px;
    -moz-border-radius:36px;
    -webkit-border-radius:36px;
    border-radius: 36px;
    -moz-box-shadow: rgba(0,0,0,.2) 0 1px 20px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 20px;
    box-shadow: rgba(0,0,0,.2) 0 1px 20px;
}
.ui-loader.ui-body-e {
    width: 200px;
    margin-left: -130px;
    padding: 5px 30px;
}
.ui-loader .ui-icon + h1 {
    display: none;
}
.ui-loader h1 {
}
/*------------- SHARING ---------------*/

.share {
    text-align: center;
    overflow: hidden;
    margin: 0;
    padding: 1em;
    background: #f9f9f9;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.share .icon {
    font-size: 1.5em;
    white-space: nowrap;
    margin: 0 0.5em;
    color: #555;
}

/*
@media screen and (min-width: 750px) {
body { font-size: 1.1em; }
header {
top: 0;
padding: 1em 0 1.5em;
    font-size: 1.4em;
}
header .uofs { font-size: 6.75em; position: absolute; left: 0.2em; top: 0.2em; }
header h1 { padding: 0 7em; }
.global-nav { width: 50%; right: 1em; left: auto; font-size: 1.0em; }
.nav-wrapper { padding-bottom: 2em; }
.global-nav .handle { width: 7em; margin: 0 1em; left: auto; right: 0; text-align: center; }
.content-primary, .content-below, .context-nav, .context-nav + .news-events { padding: 1.5em 10%; }
.content-primary:empty, .content-below:empty { display: none; }
.context-nav { padding: 0 10% 1.5em; }
.news-context, .news-slider, .events-slider { margin: 0 10% !important; }
.feature-image { max-height: 25em; overflow: hidden; }

.feature-image img { width: 100%; }

}*/

















