/* Fix up the Catalogue search form */
.content-primary form.search-global {
    margin-top: 15px;
    padding: 0;
}
.content-primary form.search-global label {
    display: none;
}
.search-global #qs {
    margin: 0;
    padding: 0;
    text-shadow: none;
    color: #000;
    height: 36px;
    background: none;
    -webkit-appearance: none;
}

/* Hide the search box on the global nav */
.global-nav form { display: none; }

/* Full Event display */
.events-context ul.event-items { margin: 0 -15px 15px -15px; }
.events-context .event-item { padding: 15px }
.events-context .event-title   { font-weight: bold; font-size: 110%; }
.event-description { margin: 0 0 0 60px; font-weight: normal; }

/* Tweak The News Display */
.news-item a .news-description {
    font-weight: normal;
    color: #666666;
    display: block;
}

/* Library Hours */
.library-hours-exceptions { margin-left: 25px; }
.library-hours-exceptions strong { color: #999999; }

/* Resize the Ask Us Chat Window */
#ask-us-im {
    width: 100%;
    height: 275px;
}
#ask-us-im iframe {
    border: 1px solid #999999;
    width: 100% !important;
    height: 275px;
}

/* Fix up the font for the USearch link on the homepage */
.ui-body-a #usearch  {
    margin-top: 10px;
    margin-left: 10px;
    color: #666666;
    font-size: 90%;
}

