.I, .I a { background: #99cc66; color: #000000 !important; text-shadow: none; }
.A, .A a { background: #ffff99; color: #000000 !important; text-shadow: none; }

.writable, .writable .ui-link, .writable .ui-link:visited { background: #b2e57f; }

.content-links {
    clear: both;
}
.content-links .custom-links {
    margin: 0 -15px;
    font-size: 1em;
    text-align: center;
}
.content-links .custom-links .ui-btn span {
    padding: 0.3em 0.7em;
    font-size: 0.90em;
    line-height: 1.5em;
}

.event-description {
    margin: 0 0 0 0;
    color: #666666;
    padding: 5px 0 5px 15px !important;
}

.event-title a {
    display: inline;
    padding: 0;
}


